<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go, HTMX, TailwindCSS</title>
    <meta name="description" content="A quick and easy way to get setup using Go, HTMX, TailwindCSS.">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/tailwindcss.css">
</head>

<body class="overflow-x-hidden">
    {{block "header" . }}{{end}}

    {{block "main" . }}{{end}}

    <script src="static/js/htmx.min.js"></script>
</body>

</html>