{{template "main.html" .}}

{{define "about"}}

<section class="container space-y-8 py-32 mx-auto px-5 lg:px-0">
    <h2
        class="font-semibold text-4xl lg:text-5xl bg-gradient-to-r from-teal-500 from-15% via-indigo-500 via-75% to-cyan-500 to-100% bg-clip-text text-transparent">
        The Greatest Technologies</h2>
    <div class="flex flex-col lg:flex-row">
        <div class="space-y-8 p-4">
            <div class="space-y-4">
                <p class="font-semibold text-3xl lg:text-4xl text-teal-500">Go</p>
                <p class="max-w-prose text-lg lg:text-xl">Go is a statically typed, compiled
                    high-level programming language designed at Google by Robert
                    Griesemer, Rob Pike, and Ken Thompson. It is syntactically
                    similar to C, but also has memory safety, garbage collection,
                    structural typing, CSP-style concurrency and generics.</p>
            </div>
            <a class="bg-teal-500 hover:bg-teal-700 text-white font-semibold py-2 px-4 border border-white rounded shadow-xl text-lg flex items-center justify-center"
                href="https://go.dev/doc/" target="_blank" rel="noopener norefer">Get Started</a>
        </div>

        <div class="space-y-8 p-4">
            <div class="space-y-4">
                <p class="font-semibold text-3xl lg:text-4xl text-indigo-500">HTMX</p>
                <p class="max-w-prose text-lg lg:text-xl">HTMX is a small (14k min. gzipped),
                    dependency-free javascript library that can create cutting-edge
                    user interfaces with the ease and power of hypertext (markup).
                    It provides access to AJAX, CSS Transitions, WebSockets, and
                    Server Sent Events directly in HTML using attributes.</p>
            </div>
            <a class="bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 border border-white rounded shadow-xl text-lg flex items-center justify-center"
                href="https://htmx.org/docs/" target="_blank" rel="noopener noopener">Get Started</a>
        </div>

        <div class="space-y-8 p-4">
            <div class="space-y-4">
                <p class="font-semibold text-3xl lg:text-4xl text-cyan-500">TailwindCSS</p>
                <p class="max-w-prose text-lg lg:text-xl">Tailwind CSS is an open source CSS
                    framework. The main feature of this library is that, unlike other
                    CSS frameworks like Bootstrap, it does not provide a series of
                    predefined classes for elements such as buttons, cards or tables
                    but instead lets the user create their own styles.</p>
            </div>
            <a class="bg-cyan-500 hover:bg-cyan-700 text-white font-semibold py-2 px-4 border border-white rounded shadow-xl text-lg flex items-center justify-center"
                href="https://tailwindcss.com/docs/installation" target="_blank" rel="noopener norefer">Get Started</a>
        </div>
    </div>
</section>

{{end}}