{{template "main.html" .}}

{{define "examples"}}

<section class="space-y-8 py-32 bg-slate-900">
    <div class="container mx-auto px-5 space-y-4">
        <h3
            class="font-semibold text-4xl lg:text-5xl bg-gradient-to-r from-teal-500 from-5% via-indigo-500 via-20% to-cyan-500 to-50% bg-clip-text text-transparent">
            Examples
        </h3>
        <div class="space-y-8 py-4">
            <p class="font-semibold text-3xl lg:text-4xl text-white">Coming Soon...</p>
        </div>
    </div>
</section>

{{end}}